
<% if @restaurants.any? %>
  <%@restaurants.each do |restaurant| %>
    <h2> <%= link_to restaurant.name, restaurant_path(restaurant) %> </h2>
    <h3>Average rating: <%= restaurant.average_rating.to_i %></h3>
    <h3>Average Stars: <%= star_rating(restaurant.average_rating.to_i) %></h3>
    <%= image_tag restaurant.image.url(:thumb) %>
    <% restaurant.reviews.each do |review| %>
     Rating: <%= review.rating %>
     <br>
     Thoughts: <%= review.thoughts %>
     <br>
      <p> <%= link_to "Endorse Review", "/reviews/#{review.id}/endorsements", method: :post %> </p>
     <p><%= pluralize review.endorsements.count, 'endorsement' %></p>
   <% end %>

    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
    <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %>
    <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %>
    <% end %>
<% else %>
  <h1>No restaurants yet </h1>
<% end %>

<a href='/restaurants/new'>Add a restaurant</a>